* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}


label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    font: 1em Arial;
}

input, textarea {
    font: 1em Arial;
    width: 300px;
    /* Match form field borders */
    border: 1px solid #999
}

input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}





